@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgray;
  flex-direction: column;
  letter-spacing: 2px;
}

.button {
  background-color: lightgrey;
  color:white;
  font-family: 'Roboto', sans-serif;
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 7px;
  outline: 0;
  font-size: 20px;
}

.button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.display {
  border: none;
  border-radius: 7px;
  background-color: white;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 20px;
}

.button-clear {
  text-align: center;
  background-color: red;
  color: white;
}

.button-equal {
  background-color: #4caf50;
}

.operator {
  background-color: gray;
  font-size: 25px;
}

.border {
  border: none;
  background-color: whitesmoke;
  margin: 15px 15px 15px 15px;
  border-radius: 4px;
}
