body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  background-color:rgb(0, 217, 255);
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 60px;
  height: 60px;
  border: 2px black 1px gray 2px gray 2px black solid ;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  box-shadow: 1px  1px 1px 1px black ;
  outline: 0;
  font-size: 20px;
}

.button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.display {
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px black ;
  background-color: white;
  text-align: right;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.color3 {
  text-align: center;
  background-color: purple;
  color: white;
  }

.color {
  background-color: green;
}

.color2 {
  background-color: darkblue;
}

.border {
  border: 2px solid gray;
  background-color: lightgray;
  margin: 15px 15px 15px 15px;
  border-radius: 4px;
}